<div class="form-total">
  <form #formCadastro="ngForm">

    <h2 class="text-center">Cadastre-se</h2>

    <div class="form-group">
      <input type="text" placeholder="Digite seu nome completo" name="Beneficiario"  minlenght="3" class="form-control"
            [(ngModel)]="profissional.nome" #nome="ngModel" required="">
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
            <div [hidden]="!nome.errors?.['required']">Digite o nome</div>
            <div [hidden]="!nome.errors?.['minlength']"> O nome deve conter ao menos 3 caracteres</div>
    </div>
  </div>

    <div class="form-group">
      <input type="text" placeholder="CPF" name="Cpf"  minlenght="10" class="form-control" [(ngModel)]="profissional.cpf" #cpf="ngModel" required=""/>
      <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="alert alert-danger">
            <div [hidden]="!cpf.errors?.['required']">Digite o CPF</div>
            <div [hidden]="!cpf.errors?.['minlength']"> O nome deve conter ao menos 10 caracteres</div>
    </div>
  </div>

    <div class="form-group">
      <input type="text" placeholder="Telefone" name="Telefone"  maxlenght="15" class="form-control" [(ngModel)]=profissional.telefone" #telefone="ngModel" required=""/>
      <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
            <div [hidden]="!telefone.errors?.['required']">Digite o telefone</div>
    </div>
  </div>

    <div class="form-group">
      <input type="text" placeholder="Endereço Completo" name="Endereco"  maxlenght="250" class="form-control" [(ngModel)]="profissional.endereco" #endereco="ngModel" required=""/>
      <div *ngIf="endereco.errors && (endereco.dirty || endereco.touched)" class="alert alert-danger">
            <div [hidden]="!endereco.errors?.['required']">Digite o endereço</div>
    </div>
  </div>

    <div class="form-group">
      <input type="text" placeholder="Especialidade" name="Especialidade"  minlenght="10" class="form-control" [(ngModel)]="profissional.especialidade" #carteirinha="ngModel" required/>
      <div *ngIf="carteirinha.errors && (carteirinha.dirty || carteirinha.touched)" class="alert alert-danger" >
            <div [hidden]="!carteirinha.errors?.['required']">Digite o número da Carteirinha</div>
            <div [hidden]="!carteirinha.errors?.['minlength']"> O nome deve conter ao menos 10 caracteres</div>
    </div>

    <div class="form-group">
      <input type="text" placeholder="Nome do Hospital" name="Hospital"  minlenght="10" class="form-control" [(ngModel)]="profissional.hospital" #carteirinha="ngModel" required/>
      <div *ngIf="carteirinha.errors && (carteirinha.dirty || carteirinha.touched)" class="alert alert-danger" >
            <div [hidden]="!carteirinha.errors?.['required']">Digite o número da Carteirinha</div>
            <div [hidden]="!carteirinha.errors?.['minlength']"> O nome deve conter ao menos 10 caracteres</div>
    </div>

  </div>

    <div class="form-group">
      <input type="text" placeholder="e-mail" name="Email"  maxlenght="100" class="form-control" [(ngModel)]="cadastro.email" #email="ngModel" required/>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors?.['required']">Digite seu e-mail</div>
    </div>
  </div>

    <div class="form-group">
      <input type="text" placeholder="Senha" name="Senha"  maxlenght="30" class="form-control" [(ngModel)]="cadastro.senha" #senha="ngModel" required/>
      <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger">
            <div [hidden]="!senha.errors?.['required']">Digite sua senha</div>
    </div>
  </div>

<div class="form-group">
    <div class="button-line">
      <button type="button" class="button"
              (click)="cadastrar()"
              [disabled]="!formCadastro.form.valid" [routerLink]="['/cadastro/listar-cadastro']">
              <i class="fa fa-save" aria-hidden="true" ></i> Salvar

      </button>

    </div>
  </div>

</form>
</div>

