<div class="form-total">
  <form #formAgendamento="ngForm">
  <div class="form-group">

    <h2 class="text-center">Preencha os dados para agendar sua consulta</h2>

    <label for="nome">*Beneficiário</label>
    <input type="text" placeholder="Digite seu nome completo" name="nome" id="nome" maxlenght="5" class="form-control"
    [(ngModel)]="agendamento.nome" #nome="ngModel"/>

    <label for="hospital">*Hospital</label>
    <select name="hospital"  class="form-control" required  [(ngModel)]="agendamento.hospital" #hospital="ngModel">
      <option  value="" disabled selected hideen>Selecione o hospital desejado</option>
      <option value="Felicio Rocho">Felicio Rocho</option>
      <option value="Unimed">Unimed</option>
      <option value="Hospital da Baleia">Hospital da Baleia</option>
    </select>

    <label for="especialidade">*Especialidade Médica</label>
    <select name="especialidade" class="form-control" required [(ngModel)]="agendamento.especialidade" #especialidade="ngModel">
      <option  value="" disabled selected hideen>Selecione a especialidade desejada</option>
      <option value="Oftalmologista">Oftalmologista</option>
      <option value="Pediatra">Pediatra</option>
      <option value="Psiquiatra">Psiquiatra</option>
    </select>

    <label for="profissional">*Profissional</label>
    <select name="Profissional" class="form-control" required [(ngModel)]="agendamento.profissional" #profissional="ngModel">
      <option  value="" disabled selected hideen>Selecione a(o) profissional desejada(o)</option>
      <option value="Marcela Reis">Marcela Reis</option>
      <option value="Andrea Guimarães">Andrea Guimarães</option>
      <option value="Luiza Ramos">Luiza Ramos</option>
    </select>

    <label for="data">*Data></label>
    <input type="date" name="data" class="form-control" required [(ngModel)]="agendamento.data" #data="ngModel"/>

    <label for="horario">*Horário</label>
    <input type="time" name="Horário" class="form-control" required [(ngModel)]="agendamento.horario" #horario="ngModel"/>

    </div>

    <div class="form-group">
    <div class="button-line">

      <button type="button"  class="btn btn-primary" (click)="cadastrar()"
        [disabled]="!formAgendamento.form.valid">
      <i class="fa fa-save" aria-hidden="true"></i> Agendar
      </button>

    </div>
  </div>

</form>
</div>

